
#search-page {
  width: 100%;
  height: 100%;
  background-color: var(--color-black);

  display: none;
  opacity: 0;
  flex-direction: column;
}

#search-page > header {
  width: 100%;
  height: 9%;
  border-bottom: 2px solid var(--color-white);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

#search-page > header > h1 {
  font-size: 20px;
  color: var(--color-white);
  margin-left: 15px;
}

#search-page > nav {
  width: 100%;
  height: 4%;
  display: flex;
  border-bottom: 2px solid var(--color-white);
  color: var(--color-white);
}

.nav-search {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--color-white);
  font-size: 15px;
}

.nav-search-blank {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-search-blank > h1 {
  font-size: 12px;
  font-weight: normal;
  margin-left: 10px;
}

.category {
  width: 100%;
  height: 5%;
  border-bottom: 2px solid var(--color-white);
  display: flex;
}

.category > section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-white);
  font-size: 15px;
}

.category > section:nth-child(2) {
  border-right: 2px solid var(--color-white);
  border-left: 2px solid var(--color-white);
}

.category-imgs {
  width: 100%;
  height: 75%;
  border-bottom: 2px solid var(--color-white);

  display: flex;
  flex-direction: column;
}

.category-imgs > section {
  width: 100%;
  flex-grow: 1;
  display: flex;
  color: var(--color-white);
  border-bottom: 2px solid var(--color-white);
}

.category-imgs > section:nth-child(4) {
  border-bottom: 0;
}

.category-imgs > section > li {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category-imgs > section > li:nth-child(1) {
  border-right: 2px solid var(--color-white);
}

.category-imgs > section > li > div {
  width: 65px;
  height: 80px;
  border-radius: 100px;

  background-size: cover;
  background-position: center;
}

.category-imgs > section > li > h1 {
  font-size: 17px;
  margin-top: 5px;
}

.comedy {
  background-image: url("/img/카테고리 이미지/코미디.jpg");
}
.romance {
  background-image: url("/img/카테고리 이미지/로맨스.jpg");
}
.drama {
  background-image: url("/img/카테고리 이미지/드라마.jpg");
}
.fantasy {
  background-image: url("/img/카테고리 이미지/판타지.jpg");
}
.action {
  background-image: url("/img/카테고리 이미지/액션.jpg");
}
.noir {
  background-image: url("/img/카테고리 이미지/느와르.jpg");
}
.mystery {
  background-image: url("/img/카테고리 이미지/미스터리.jpg");
}
.thriller {
  background-image: url("/img/카테고리 이미지/스릴러.jpg");
}

.category, .category-imgs:hover {
  cursor: pointer;
}