* {margin: 0; padding: 0; box-sizing: border-box;}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

#phone-horizontal {
  width: 740px;
  height: 342px;
  border-radius: 30px;
  background-color: #fff;
}